@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Sans Regular'), local('FiraSans-Regular'),
		url('__MSG_font500__') format('truetype');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Fira Sans Regular'), local('FiraSans-Regular'),
		url('__MSG_font700__') format('truetype');
}
:root {
	--disabled: gray;
	--font-family:'Fira Sans', system-ui;
}
@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	h1, p , a, a:link, a:visited, a:focus, a:hover, a:active {
		color: #101a20;
	}
	html, body, div, h1, p, picture, img {
		background-color: #c1d5e0;
	}
	#reload {
		border-color: #101a20;
		background-color: #101a20;
	}
	#reload {
		color: #c1d5e0;
	}
}
@media (prefers-color-scheme: dark) {
	h1, p, a, a:link, a:visited, a:focus, a:hover, a:active {
		color: #c1d5e0;
	}
	html, body, div, h1, p  {
		background-color: #101a20;
	}
	#reload {
		border-color: #c1d5e0;
		background-color: #c1d5e0;
	}
	#reload {
		color: #101a20;
	}
}
html, body, h1, picture, img, input, p, div, span, button {
	margin: 0;
	padding: 0;
	border-style: none;
	border-width: 0;
	font-family: var(--font-family);
}
html {
	height: auto;
	width: auto;
	overflow: hidden;
}
body {
	height: auto;
	width: __MSG_extwidth__;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto 1cm auto auto auto 1.5cm auto;
	overflow: hidden;
	padding-top: 0.2cm;
}
h1 {
	grid-row: span 1;
	grid-column: span 1;
	font-size: 0.55cm;
	text-align: center;
	padding: 0.2cm;
}
img {
	margin: 0% 2%;
	width: 96%;
	height: auto;
}
#width-slider {
	grid-row: span 1;
	grid-column: span 1;
	margin: 0% 4%;
	width: 92%;
	height: 100%;	
}
p {
	grid-row: span 1;
	grid-column: span 1;
	text-align: center;
	font-size: 0.45cm;
	padding: 0.22cm 0;
	margin: auto;
}
#slideval {
	width: 100%;
	text-align: center;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100%;
	padding-top: 0;
}
#some {
	font-weight: 700;
}
#slideval span {
	grid-row: span 1;
	grid-column: span 1;
}
div {
	grid-row: span 1;
	grid-column: span 1;
	display: grid;
	grid-template-columns: auto 0.75cm;
	grid-template-rows: 33.33% 33.33% 33.33%;
	margin: 0% auto;
	padding: 0;
	border-style: none;
	height: 100%;
	width: auto;
	max-width: 
}
div > span > p {
	padding: 0.25cm 0.5cm;
}
.switchof {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: 100%;
}
.switch {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: 100%;
}
#reload {
	padding: 0;
	overflow: hidden;
	grid-row: span 1;
	grid-column: span 1;
	margin: auto;
	width: 80%;
	height: 90%;
	text-align: center;
	border-radius: 0.5cm;
	border-style: solid;
	font-size: 0.55cm;
	font-weight: 700;
}
.subtext {
	font-size: 0.35cm;
	padding: 0.175cm 0;
	width: 90%;
	margin: 0 5%;
	text-align: center;
}
a, a:link, a:visited, a:focus, a:hover, a:active {
	text-decoration: none;
}
::-webkit-scrollbar {
	display: none !important;
}
:focus {
	outline: none !important;
}
:root {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
};
