@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Sans Regular'), local('FiraSans-Regular'),
		url('./fonts/500.ttf') format('truetype');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Fira Sans Regular'), local('FiraSans-Regular'),
		url('./fonts/700.ttf') format('truetype');
}
:root {
	--disabled: gray;
	--font-family:'Fira Sans', system-ui;
}
@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
	h1, p , a, a:link, a:visited, a:focus, a:hover, a:active {
		color: #101a20;
	}
	html, body, div, h1, p, picture, img {
		background-color: #c1d5e0;
	}
	#reload {
		border-color: #101a20;
		background-color: #101a20;
	}
	#reload {
		color: #c1d5e0;
	}
}
@media (prefers-color-scheme: dark) {
	h1, p, a, a:link, a:visited, a:focus, a:hover, a:active {
		color: #c1d5e0;
	}
	html, body, div, h1, p  {
		background-color: #101a20;
	}
	#reload {
		border-color: #c1d5e0;
		background-color: #c1d5e0;
	}
	#reload {
		color: #101a20;
	}
}
h1, p {
	font-family: var(--font-family);
}
html {
	margin: 0;
	padding: 0;
	border-style: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	margin: 0;
	padding: 0;
	border-style: none;
	height: auto;
	width: 7cm;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 0.2cm 1cm 3.5cm 1cm 1cm 0.7cm 3cm 2cm 1cm;
	overflow: hidden;
}
h1 {
	grid-row: span 1;
	grid-column: span 1;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 0.1cm;
}
picture, img {
	margin: auto;
	width: auto;
	height: 3.5cm;
}
div {
	grid-row: span 1;
	grid-column: span 1;
	display: grid;
	grid-template-columns: 80% 15%;
	grid-template-rows: 33.33% 33.33% 33.33%;
	margin: auto;
	padding: 0;
	border-style: none;
	height: 100%;
	width: 100%;
}
p {
	grid-row: span 1;
	grid-column: span 1;
	text-align: center;
	font-size: 1rem;
	margin: auto;
	margin-top: 0.15cm;
	filter: opacity(1);
	overflow: hidden;
	text-overflow: hidden;
}
#width-slider {
	grid-row: span 1;
	grid-column: span 1;
	margin-left: 10%;
	margin-top: 3%;
	width: 80%;
	height: 100%;	
}
.switchof {
	grid-row: span 1;
	grid-column: span 1;
	width: 100%;
	height: 100%;
	padding-top: 0.15cm;
}
.switch {
	grid-row: span 1;
	grid-column: span 1;
	width: 70%;
	height: 100%;
}
#reload {
	padding: 0;
	overflow: hidden;
	grid-row: span 1;
	grid-column: span 1;
	margin: auto;
	width: 80%;
	height: 70%;
	text-align: center;
	border-radius: 0.5cm;
	border-style: solid;
	font-family: var(--font-family);
	font-size: 1.2rem;
	font-weight: 700;
}
.subtext {
	font-size: 0.8rem;
}
a, a:link, a:visited, a:focus, a:hover, a:active {
	text-decoration: none;
}
::-webkit-scrollbar {
	display: none !important;
}
:focus {
	outline: none !important;
}
:root {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
};
